.item-list {
  border: 1px solid rgb(181, 181, 184);
  margin: 20px 10%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  width: 62%;
  flex-direction: column;
  .item-container {
    width: 98%;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid rgb(181, 181, 184);
    img {
      width: 10%;
      border: 1px solid rgb(181, 181, 184);
    }
    .item-name {
      margin-left: 2%;
      width: 40%;
      h4 {
        font-size: 20px;
        margin-bottom: -10px;
      }
    }
    .button-group {
      margin-left: 5%;
      width: 8%;
      height: 20%;
      display: flex;
      display: flex;
      align-items: center;
      border-radius: 10px;
      background-color: rgb(181, 181, 184);
      margin-top: 1.8em;
      button {
        background-color: transparent;
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
      }
      label {
        width: 15%;
        text-align: center;
        margin-top: -1px;
        font-weight: 600;
        font-size: 20px;
      }
    }
    .item-price {
      margin-left: 3%;
      width: 15%;
      h4 {
        margin-bottom: -5px;
        margin-top: 25px;
        font-size: 20px;
      }
    }
    .remove-btn {
      margin-left: 2%;
      height: 50px;
      width: 10%;
      background-color: transparent;
      color: red;
      border-radius: 10px;
      font-size: 20px;
      border: 1px solid rgb(181, 181, 184);
      margin-top: 1.4rem;
      cursor: pointer;
    }
  }
}
