.cart-container {
  display: flex;
  margin: 20px;
  margin-left: 12%;
  .item-list {
    border: 1px solid rgb(181, 181, 184);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    width: 55%;
    flex-direction: column;
    .item-container {
      width: 98%;
      padding: 10px;
      display: flex;
      border-bottom: 1px solid rgb(181, 181, 184);
      img {
        width: 10%;
        border: 1px solid rgb(181, 181, 184);
      }
      .item-name {
        margin-left: 2%;
        width: 40%;
        h4 {
          font-size: 20px;
          margin-bottom: -10px;
        }
      }
      .button-group {
        margin-left: 5%;
        width: 10%;
        height: 30%;
        display: flex;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(181, 181, 184);
        margin-top: 1.8em;
        button {
          background-color: transparent;
          width: 70px;
          height: 70px;
          border: none;
          cursor: pointer;
        }
        label {
          width: 15%;
          text-align: center;
          margin-top: -1px;
          font-weight: 600;
          font-size: 20px;
        }
      }
      .item-price {
        margin-left: 3%;
        width: 15%;
        h4 {
          margin-bottom: -5px;
          margin-top: 25px;
          font-size: 20px;
        }
      }
      .remove-btn {
        margin-left: 2%;
        height: 50px;
        width: 10%;
        background-color: transparent;
        color: red;
        border-radius: 10px;
        font-size: 20px;
        border: 1px solid rgb(181, 181, 184);
        margin-top: 1.4rem;
        cursor: pointer;
      }
    }
  }
  .checkout-container {
    width: 15%;
    border: 1px solid rgb(181, 181, 184);
    margin-left: 2%;
    border-radius: 10px;
    padding: 20px;
    .shipping-container {
      width: 100%;
      border-bottom: 1px solid rgb(181, 181, 184);
      .shipping-header {
        display: flex;
        justify-content: space-between;
        h4 {
          font-size: 20px;
        }
        button {
          background-color: transparent;
          color: rgb(11, 116, 229);
          border: none;
          font-size: 20px;
          cursor: pointer;
        }
        button:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
