.filterbar-container {
  width: 30%;
  border: 1px solid rgb(181, 181, 184);
  padding: 20px;
  border-radius: 10px;
  height: 70%;
  .price-filter {
    border-bottom: 1px solid rgb(181, 181, 184);
    label {
      font-size: 30px;
      font-weight: 600;
    }
    .filter-choices {
      display: flex;
      input {
        width: 35%;
        margin: 10px 10px 10px 0;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgb(181, 181, 184);
      }
      button {
        background-color: rgb(37 99 235);
        cursor: pointer;
        width: 23%;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 500;
        margin: 10px 10px 10px 0;
        color: white;
        border: none;
      }
    }
  }
  .category-filter {
    margin-top: 20px;
    border-bottom: 1px solid rgb(181, 181, 184);

    label {
      font-size: 30px;
      font-weight: 600;
    }
    .category-container {
      font-size: 50px;
    }
  }
  .rating-filter {
    margin-top: 20px;
  }
}
