.card {
  border: 1px solid rgb(181, 181, 184);
  width: 150%;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  margin-right: 0;
  justify-content: center;
  flex-direction: row;
  height: 230px;
  .item-image {
    width: 15%;
    border-radius: 10px;
    img {
      width: 100%;
      margin-top: 22px;
    }
  }
  .item-details {
    margin-left: 8%;
    font-size: 20px;
    border-right: 1px solid rgb(181, 181, 184);
    width: 50%;
    height: 250px;
    h4:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    h4 {
      margin-top: 70px;
      font-size: 25px;
      width: 95%;
    }
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      line-height: 1.2em;
    }
    .rating {
      display: flex;
      p {
        margin-top: 1px;
        margin-left: 15px;
      }
    }
  }
  .item-checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35px;
    h4 {
      margin-top: 70px;
      width: 95%;
      font-size: 30px;
      margin-left: 28%;
      margin-top: 70px;
    }
    p {
      font-size: 23px;
      font-weight: 600;
      color: green;
      margin-top: -15px;
    }
    button {
      background-color: rgb(37 99 235);
      width: 100%;
      color: white;
      font-size: 20px;
      border: none;
      border-radius: 10px;
      padding: 10px 20px 10px 20px;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(19, 70, 179);
    }
    button:active {
      background-color: rgb(16, 47, 112);
    }
  }
}
