.order-view-container {
  margin-left: 19%;
  h4 {
    font-size: 28px;
  }
  .order-info {
    display: flex;
    .receive-address {
      width: calc(30% + 13px);
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 100px;
      background-color: white;
      border-radius: 5px;
    }
  }
  .order-detail {
    width: 72%;
    margin-top: 30px;
    background-color: white;

    table {
      width: 100%;
      thead {
        font-size: 20px;
        tr {
          .item {
            width: 40%;
          }
          td {
            padding: 20px;

            text-align: start;
          }
          .amount {
            width: 12%;
          }
          .price {
            width: 15%;
          }
        }
      }
      tbody {
        td {
          border-bottom: 1px solid rgb(235, 235, 240);
          border-top: 1px solid rgb(235, 235, 240);

          padding: 20px;
          font-size: 20px;
          .item-name {
            display: flex;
            justify-content: center;
            img {
              width: 22%;
              border: 1px solid gray;
              border-radius: 14px;
            }
            h3 {
              font-size: 17px;
              margin-left: 20px;
            }
          }
          button {
            color: rgb(24, 158, 255);
            border: 1px solid rgb(24, 158, 255);
            width: 20%;
            background-color: transparent;
            font-size: 15px;
            border-radius: 5px;
            margin-left: 30%;
            padding: 10px 0;
          }
        }
        p {
          margin-top: -60px;
        }
      }
    }
  }
  .order-price {
    width: 72%;
    background-color: white;

    .price {
      display: flex;
      justify-content: flex-end;
      font-size: 20px;
      .total-price {
        color: rgb(255, 59, 39);
      }
    }
  }
}
